fastapi==0.115.6
uvicorn==0.34.0
requests==2.32.3
pytz==2024.2
google-genai==1.0.0
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4
timezonefinder==6.5.0
joblib==1.4.2
python-multipart==0.0.20
